<div class="flex h-full w-full items-center justify-center px-4 py-12">
  <.calendar
    id="calendar-04-cal"
    interactive
    mode="range"
    month={~D[2025-06-01]}
    range_start={~D[2025-06-09]}
    range_end={~D[2025-06-15]}
    class="rounded-md border shadow-sm"
  />
</div>
