<div class="flex h-full w-full items-center justify-center px-4 py-12">
  <.calendar
    id="calendar-05-cal"
    interactive
    mode="range"
    months={2}
    month={~D[2025-06-01]}
    range_start={~D[2025-06-17]}
    range_end={~D[2025-07-08]}
    class="rounded-md border shadow-sm"
  />
</div>
