<.alert_dialog id="ex-alertdialog">
  <.alert_dialog_trigger dialog="ex-alertdialog">
    <.button variant="outline">Show Dialog</.button>
  </.alert_dialog_trigger>
  <.alert_dialog_content dialog="ex-alertdialog">
    <.alert_dialog_header>
      <.alert_dialog_title dialog="ex-alertdialog">Delete this project?</.alert_dialog_title>
      <.alert_dialog_description dialog="ex-alertdialog">
        This permanently removes the project and all of its data. This can't be undone.
      </.alert_dialog_description>
    </.alert_dialog_header>
    <.alert_dialog_footer>
      <.alert_dialog_cancel dialog="ex-alertdialog">Cancel</.alert_dialog_cancel>
      <.alert_dialog_action dialog="ex-alertdialog">Delete</.alert_dialog_action>
    </.alert_dialog_footer>
  </.alert_dialog_content>
</.alert_dialog>
