<.avatar_group>
  <.avatar>
    <.avatar_image src="https://github.com/shadcn.png" alt="@shadcn" />
    <.avatar_fallback>CN</.avatar_fallback>
  </.avatar>
  <.avatar>
    <.avatar_image src="https://github.com/evilrabbit.png" alt="@evilrabbit" />
    <.avatar_fallback>ER</.avatar_fallback>
  </.avatar>
  <.avatar>
    <.avatar_fallback>AB</.avatar_fallback>
  </.avatar>
  <.avatar_group_count>+3</.avatar_group_count>
</.avatar_group>
