<div class="flex flex-wrap items-center gap-3">
  <.button variant="default">Default</.button>
  <.button variant="secondary">Secondary</.button>
  <.button variant="destructive">Destructive</.button>
  <.button variant="outline">Outline</.button>
  <.button variant="ghost">Ghost</.button>
  <.button variant="link">Link</.button>
</div>
