<.chart
  id="chart-demo"
  type="bar"
  data={[
    %{label: "Jan", value: 186},
    %{label: "Feb", value: 305},
    %{label: "Mar", value: 237},
    %{label: "Apr", value: 273},
    %{label: "May", value: 209},
    %{label: "Jun", value: 314}
  ]}
  class="h-[250px] w-full max-w-lg"
/>
