<.combobox id="combobox-demo" placeholder="Select framework...">
  <:option value="phoenix">Phoenix</:option>
  <:option value="rails">Rails</:option>
  <:option value="django">Django</:option>
  <:option value="laravel">Laravel</:option>
</.combobox>
