<.drawer id="drawer-demo">
  <.drawer_trigger dialog="drawer-demo">
    <.button variant="outline">Open Drawer</.button>
  </.drawer_trigger>
  <.drawer_content dialog="drawer-demo">
    <.drawer_header>
      <.drawer_title dialog="drawer-demo">Move goal</.drawer_title>
      <.drawer_description dialog="drawer-demo">
        Set your daily activity goal.
      </.drawer_description>
    </.drawer_header>
    <.drawer_footer>
      <.button>Submit</.button>
      <.drawer_close dialog="drawer-demo">
        <.button variant="outline">Cancel</.button>
      </.drawer_close>
    </.drawer_footer>
  </.drawer_content>
</.drawer>
