<.dropdown_menu id="ex-dropdown">
  <.dropdown_menu_trigger menu="ex-dropdown">
    <.button variant="outline">Open Menu</.button>
  </.dropdown_menu_trigger>
  <.dropdown_menu_content menu="ex-dropdown" class="w-56">
    <.dropdown_menu_label>My Account</.dropdown_menu_label>
    <.dropdown_menu_separator />
    <.dropdown_menu_group>
      <.dropdown_menu_item menu="ex-dropdown">Profile</.dropdown_menu_item>
      <.dropdown_menu_item menu="ex-dropdown">Billing</.dropdown_menu_item>
      <.dropdown_menu_item menu="ex-dropdown">Settings</.dropdown_menu_item>
    </.dropdown_menu_group>
    <.dropdown_menu_separator />
    <.dropdown_menu_item menu="ex-dropdown" variant="destructive">Log out</.dropdown_menu_item>
  </.dropdown_menu_content>
</.dropdown_menu>
