<.field_group class="w-full max-w-sm">
  <.field>
    <.field_label for="field-username">Username</.field_label>
    <.input id="field-username" placeholder="shadcn" />
    <.field_description>This is your public display name.</.field_description>
  </.field>
</.field_group>
