<div class="grid w-full max-w-sm gap-4">
  <.input type="email" placeholder="Email" />
  <.input type="text" value="Read only" readonly />
  <.input type="text" placeholder="Disabled" disabled />
</div>
