<.menubar>
  <.menubar_menu id="mb-file">
    <.menubar_trigger menu="mb-file">File</.menubar_trigger>
    <.menubar_content menu="mb-file">
      <.menubar_item>New Tab</.menubar_item>
      <.menubar_item>New Window</.menubar_item>
      <.menubar_separator />
      <.menubar_item>Print</.menubar_item>
    </.menubar_content>
  </.menubar_menu>
  <.menubar_menu id="mb-edit">
    <.menubar_trigger menu="mb-edit">Edit</.menubar_trigger>
    <.menubar_content menu="mb-edit">
      <.menubar_item>Undo</.menubar_item>
      <.menubar_item>Redo</.menubar_item>
    </.menubar_content>
  </.menubar_menu>
</.menubar>
