<.navigation_menu>
  <.navigation_menu_list>
    <.navigation_menu_item>
      <.navigation_menu_trigger>Getting started</.navigation_menu_trigger>
      <.navigation_menu_content>
        <ul class="grid w-[300px] gap-1 p-2">
          <li><.navigation_menu_link href="#">Introduction</.navigation_menu_link></li>
          <li><.navigation_menu_link href="#">Installation</.navigation_menu_link></li>
          <li><.navigation_menu_link href="#">Theming</.navigation_menu_link></li>
        </ul>
      </.navigation_menu_content>
    </.navigation_menu_item>
    <.navigation_menu_item>
      <.navigation_menu_link href="#">Docs</.navigation_menu_link>
    </.navigation_menu_item>
  </.navigation_menu_list>
</.navigation_menu>
