<.radio_group>
  <div class="flex items-center gap-2">
    <.radio_group_item id="rg-default" name="rg-spacing" value="default" checked />
    <.label for="rg-default">Default</.label>
  </div>
  <div class="flex items-center gap-2">
    <.radio_group_item id="rg-comfortable" name="rg-spacing" value="comfortable" />
    <.label for="rg-comfortable">Comfortable</.label>
  </div>
  <div class="flex items-center gap-2">
    <.radio_group_item id="rg-compact" name="rg-spacing" value="compact" />
    <.label for="rg-compact">Compact</.label>
  </div>
</.radio_group>
