<.resizable_panel_group
  id="resizable-demo"
  direction="horizontal"
  class="h-48 w-full max-w-md rounded-lg border"
>
  <.resizable_panel basis={50}>
    <div class="flex h-full items-center justify-center p-6 text-sm font-semibold">One</div>
  </.resizable_panel>
  <.resizable_handle with_handle />
  <.resizable_panel basis={50}>
    <div class="flex h-full items-center justify-center p-6 text-sm font-semibold">Two</div>
  </.resizable_panel>
</.resizable_panel_group>
