<.sheet id="sheet-demo">
  <.sheet_trigger dialog="sheet-demo">
    <.button variant="outline">Open Sheet</.button>
  </.sheet_trigger>
  <.sheet_content dialog="sheet-demo" side="right">
    <.sheet_header>
      <.sheet_title>Edit profile</.sheet_title>
      <.sheet_description>
        Make changes to your profile here. Click save when you're done.
      </.sheet_description>
    </.sheet_header>
  </.sheet_content>
</.sheet>
