<.table class="w-full max-w-lg">
  <.table_caption>A list of your recent invoices.</.table_caption>
  <.table_header>
    <.table_row>
      <.table_head>Invoice</.table_head>
      <.table_head>Status</.table_head>
      <.table_head class="text-right">Amount</.table_head>
    </.table_row>
  </.table_header>
  <.table_body>
    <.table_row>
      <.table_cell class="font-medium">INV001</.table_cell>
      <.table_cell>Paid</.table_cell>
      <.table_cell class="text-right">$250.00</.table_cell>
    </.table_row>
    <.table_row>
      <.table_cell class="font-medium">INV002</.table_cell>
      <.table_cell>Pending</.table_cell>
      <.table_cell class="text-right">$150.00</.table_cell>
    </.table_row>
    <.table_row>
      <.table_cell class="font-medium">INV003</.table_cell>
      <.table_cell>Unpaid</.table_cell>
      <.table_cell class="text-right">$350.00</.table_cell>
    </.table_row>
  </.table_body>
</.table>
