<.tabs id="ex-tabsdemo" class="w-full max-w-sm">
  <.tabs_list>
    <.tabs_trigger tabs="ex-tabsdemo" value="account" active>Account</.tabs_trigger>
    <.tabs_trigger tabs="ex-tabsdemo" value="password">Password</.tabs_trigger>
  </.tabs_list>
  <.tabs_content tabs="ex-tabsdemo" value="account" active>
    <p class="text-sm text-muted-foreground">Make changes to your account here.</p>
  </.tabs_content>
  <.tabs_content tabs="ex-tabsdemo" value="password">
    <p class="text-sm text-muted-foreground">Change your password here.</p>
  </.tabs_content>
</.tabs>
