<.tooltip>
  <.tooltip_trigger tooltip="tooltip-demo">
    <.button variant="outline">Hover me</.button>
  </.tooltip_trigger>
  <.tooltip_content tooltip="tooltip-demo">Add to library</.tooltip_content>
</.tooltip>
